<style>
    .a{
        text-align: center;
    }
    .b{
        color: crimson;
    }
    #paragraph{
      font-size: 23px;
    }
    </style>
    <head>
        <title>Posts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Blogs</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/posts">Home</a></li>
            <li><a href="/posts/create_post">Create Post</a></li>
            <li><a href="">Activities</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
    </nav>
    <div class="a">
            <h1>{{ obj.heading }}</h1>
    </div>
<div class="container-fluid">
<p id="paragraph">{{ obj.new_post }}</p>
</div>
<button>Delete Post</button>
<button>Edit Post</button>